*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: serif;
    background:#f8f3ef;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    min-height:100vh;
}

.text h1{
    font-size:90px;
    color:#9b7b72;
}

.text p{
    font-size:35px;
    margin:20px 0;
    color:#7a5c55;
}

button{
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:#9b7b72;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.image img{
    width:500px;
    border-radius:20px;
}