body{
    margin:0;
    padding:0;
    background:black;
    font-family:'Cinzel', serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    color:#D4AF37;
    font-size:80px;
    text-shadow:0 0 20px #D4AF37;
}

p{
    color:white;
    font-size:22px;
    margin-top:-20px;
}

button{
    margin-top:20px;
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:#D4AF37;
    color:black;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
}